<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id='maindiv'>
		<div id="div2">
			<form action="customer-signup" method="post">
				<h2>Customer Signup</h2>
				<label>Name: </label> <input type="text" name="name"
					style='margin-left: 23px;'> <br> <label>E-mail:</label>
				<input type="email" name="email" style='margin-top: 10px'> <br>
				<label>Mobile:</label> <input type="number" name="mobile"
					style='margin-top: 10px'> <br> <label>Address:</label>
				<textarea rows="3" style='margin-top: 20px;' cols="20"
					name="address"></textarea>
				<br> <label>Password:</label> <input type="password"
					name="password" style='margin-top: 20px; margin-bottom: 20px;'>
				<br> <input type="submit"> <input type="reset">
				<br> <br> <a href="customer-login"
					style='text-decoration: none;'>Already Have Account? click here
					to Login</a> <br> <a href="hotel-signup" id="hotel-signup">Click</a>
			</form>
		</div>
	</div>

</body>
</html>