<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style> 
body{
margin:0px;
}
#home{ 
display: flex;
justify-content: space-arround;
background-color: blue;
height:100vh;
width:100vw;
}
nav{ 
background-color: aqua;
display: flex;
justify-content: space-around;
align-items:center;
height:100px;
width:100vw;
border-radius:40px;

}
button{
height:40px;
width:100px;
border-radius:15px;
color:white;
background-color:black;

}


</style>
</head>
<body>
<div id="home" >
<nav>

<a href=""><button>Home</button></a>
<a href="/customer/signup"><button>Register</button></a>
<a href=""><button>Login</button></a>
<a href=""><button>Contact</button></a>
<a href=""><button>About</button></a>
</nav>

</div>
</body>
</html>